<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social-Blog</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <!--============Navbar=============-->
        <div class="navbar-container">
            <img src="/static/assets/menu-burger.png" alt="menu" class="menu" style="width: 35px;">
            <nav class="navbar">
                <ul>
                    <li><a href="#">Accuille</a></li>
                    <li><a href="#">Produit</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
            <img src="#" alt="Logo" class="logo">
        </div>
        <!--=================Fin==============================-->

        <!--====Filter Parte-->
        <div class="filter">
            
            <div class="search-container">
                <form action="#" method="post">
                    <div class="search">
                        <input type="text" name="search" placeholder="search..." >
                        <BUtton><img src="/static/assets/search.svg" alt="search" style="width: 19px;"></BUtton>
                    </div>
                </form>
            </div>
            <div class="categorie">
                <h4>Catégories</h4>
                <ul>
                    <li><a href="#">Acctuialliter</a></li>
                    <li><a href="#">Divertissement</a></li>
                    <li><a href="#">Amour</a></li>
                    <li><a href="#">Motivation</a></li>
                    <li><a href="#">Busness</a></li>
                    <li><a href="#">Media</a></li>
                </ul>
            </div>
        </div>
        <!--===========Fin================-->
        <!--====article-container============-->
        <div class="article-container">
            <!--==========111============-->
            <div class="article">
                <div>
                <img src="/static/image/background.png.jpg" alt="">
                </div>
                <article>
                    <h2>Titre de L'article</h2>
                    <p>Article Detailers... Lorem ipsum dolor sit amet consectetur
                         adipisicing elit. Dolores mollitia aspernatur aliquid 
                         minima quo, qui voluptatibus labore debitis, officiis 
                         maiores et aliquam suscipit consectetur,
                         molestiae ducimus vero perferendis ullam rerum!</p>
                         <a href="http://127.0.0.1:5501/templates/post.html">En savoir plus......</a>
                </article>
            </div>
            <!--Fin-->
            <!--==========2222-->
            <div class="article">
                <div>
                <img src="/static/image/Future_Of_Artificial_Intelligence.avif" alt="">
                </div>
                <article>
                    <h2>Titre de L'article</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Vitae et, eveniet odio eaque animi provident obcaecati 
                         quibusdam, ut corrupti ratione molestias in voluptatem 
                         veritatis
                        , nisi cupiditate esse quasi exercitationem fugiat.</p>
                        <a href="#">En savoir plus......</a>
                </article>
            </div>
            <!--Fin-->
            <!--==============333============-->
            <div class="article">
                <div>
                <img src="/static/image/13.jpg" alt="">
                </div>
                <article>
                    <h2>Titre de L'article</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Suscipit minima neque placeat dignissimos deserunt numquam 
                        ab veritatis provident impedit et laudantium quam 
                        fuga minus harum, illum voluptatem optio labore nesciunt?</p>
                        <a href="#">En savoir plus......</a>
                </article>
            </div>
            <!--Fin-->
            <!--==============4444=========-->
            <div class="article" >
                <div>
                <img src="/static/image/18.jpg" alt="">
                </div>
                
                <article>
                    <h2>Titre de L'article</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing
                         elit. Expedita assumenda architecto ad numquam, nisi ex eligendi inventore 
                         consequuntur adipisci praesentium magnam iusto perferendis ratione dolorem
                         doloribus sequi voluptas impedit beatae <strong>............</strong></p>
                         <a href="#">En savoir plus......</a>
                </article>
               
            </div>
            <!--Fin-->
            <h4 class="next"><a href="#">Plus.......</a></h4>
        </div>
        <!--=============Fin==============-->
    </div>
    <footer>
        CopyRight @ 2024
    </footer>
</body>
</html>