<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social-Blog</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <!--============Navbar=============-->
        <div class="navbar-container">
            <img src="/static/assets/menu-burger.png" alt="menu" class="menu" style="width: 35px;">
            <nav class="navbar">
                <ul>
                    <li><a href="/">Accuille</a></li>
                    <li><a href="#">Produit</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
            <img src="#" alt="Logo" class="logo">
        </div>
        <!--=================Fin==============================-->

        <!--====Filter Parte-->
        <div class="filter">
            
            <div class="search-container">
                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    <div class="search">
                        <input type="text" name="search" placeholder="search..." >
                        <BUtton><img src="/static/assets/search.svg" alt="search" style="width: 19px;"></BUtton>
                    </div>
                </form>
            </div>
            <div class="categorie">
                <h4>Catégories</h4>
                <form action="{% url 'index' %}" method="post">
                    {% csrf_token %}
                    <select name="categorie" id="categorie">
                        <option value="actualiter">Actualiter</option>
                        <option value="Divertissement">Divertissement</option>
                        <option value="Amour">Amour</option>
                        <option value="Motivation">Motivation</option>
                        <option value="Busness">Busness</option>
                        <option value="Media">Media</option>
                    </select>
                    <input type="submit" value="filtre">
                </form>
            </div>
        </div>
        <!--===========Fin================-->
        <!--====article-container============-->
        
        <div class="article-container">
            <div class="artile-post">
            <div class="article-img">
                <img src="{{article.article_img.url}}" alt="Busness">
            </div>
            <article class="post">
                <h2>{{article.titre}}</h2>
                <P>{{article.body}}</P>
            </article>
           
        </div>
        <div class="comment-container">
            <h4 class="h4">Commantaires</h4>
            <form action="" method="POST" class="comment-form">
                {% csrf_token %}
                <input type="text" class="" name="comment" placeholder="Ajouter un commentaire....">
                
                <button>Envoyer</button>
            </form>
            <!--===11=====-->
         {% for comment, responses in comment_response.items %}
         
            <div class="comment-parent">
            <div class="all-comment">
                
                <div class="comment">
                    <img src="/media/blank-profile-picture.png" alt="profile" style="width: 50px; border-radius: 50%;">
                    <h3>{{comment.date_create}}</h3>
                    <h4>#UserName</h4>
                    <p>{{comment.comment}}</p>
                </div>
              
            </div>
            <!--Partie reponse du commentaire-->
            <button class="response-btn"> Repondre</button>
            
                <form action="{% url 'response' %}?comment_id={{comment.id}}" method="post" class="form">
                                {% csrf_token %}
                    <input type="text" name="response" class="resp" placeholder="response.....">
                    <div class="">
                        <button class="btn">Envoyer</button>
                       
                    </div>
                </form>
                {% if responses %}
                
                {% for response in responses %}
                   
                <div class="response">
                    <img src="/media/blank-profile-picture.png" alt="">
                    <h3>{{response.date_create}}</h3>
                    <h4>#UserName</h4>
                    <p>{{response.response}}</p>
                </div>
                    
            <!--Fin de la partie  du commentaire-->
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
        
            <!----------Fin----------------------------------------------------------Fin--------------------------------------->
        </div>
        </div>
            
        
        <!--=============Fin==============-->
        
    </div>
    
    <footer>
        CopyRight @ 2024
    </footer>

    <script src="/static/js/post.js"></script>
</body>
</html>