<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/post.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="logo-admin">
            <h3>Admin</h3>
            <li><a href="/">Accuille</a></li>
            <!--________Partie Pour Faire Sortie L'image_____________-->
            <button class="profile">upload-profile</button>
            <!--____________Fin_____________________________-->
            
            <!--________________________Telecharger l'image de Profile______________________-->
            <div class="upload-profile">
                <form action="" method="post" class="upload">
                    {% csrf_token %}
                    <input type="file" name="upload-profile">
                    <button>upload</button>
                </form>
            </div>
            <!--______________Fin_________________________________________________________________-->
        </div>
        <!------------------------Fin-------------------------------------->
        <!--===============partie pour ecrire le blog ===================-->
        <div class="formulair">
            <form action="" method="post">
                {% csrf_token %}
                <div>
                    <input type="file" name="image" placeholder="image...." class="image">
                </div>
                <div>
                    <label for="Category">Choisire le Category de l'Article</label>
                    <select name="category" id="category">
                        <option value="Divertissement">Divertissement</option>
                        <option value="Amour">Amour</option>
                        <option value="Motivation">Motivation</option>
                        <option value="Busness">Busness</option>
                        <option value="Media">Media</option>
                    </select>
                </div>
                <div>
                    <input type="text" name="titre" class="titre" placeholder="titre......">
                </div>
                <div>
                    <textarea name="content" id="content" cols="30" rows="10" placeholder="Contenu de...."></textarea>
                </div>
                <div>
                    <button>Ajouter</button>
                </div>
            </form>
        </div>
        <!------------------Fin---------------------------->
    </div>
    <script src="/static/js/setting.js"></script>
</body>
</html>